.title{
    margin-top: 15px;
    color: rgb(66, 66, 66);
    background-color: rgb(250, 222, 145);
    height: 30px;
    width: 60%;
    text-align: center;
    transform: rotate(2deg);
    border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
    font-size: 20px;
    font-weight: 1000;
}