.header-container{
    display: flex;
    width: 100vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.39);
    justify-content: center;
    align-items: center;
    .logo-container{
      width:50px;  
      height: fit-content;
      animation: App-logo-spin infinite 20s linear;
        justify-self: flex-start;
      img{
          height: 100%;
          width: 100%;
      }
    }
    .header-elements{
        font-style: italic;
        font-family: ui-serif;
        color: white;
        font-weight: bolder;
        font-size: xx-large;
      }
}


@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  